# TableOne statistics for the whole data

Update 2020.12.17

The tableone package for Python was updated in May or June 2020, the updated version supports more than two groups statistic.

Thanks for Tom J Pollard, Alistair E W Johnson, Jesse D Raffa, Roger G Mark.:)

In [1]:
import numpy as np
import pandas as pd
import warnings
from tableone import TableOne
warnings.filterwarnings("ignore")

In [2]:
data_mimic = pd.read_csv('../datasets/processed data/MIMIC-data-update202012.csv')
data_aumc = pd.read_csv('../datasets/processed data/AUMC-data-update202012.csv')
data_eicu = pd.read_csv('../datasets/processed data/eCRD-data-update202012.csv')
data_plagh = pd.read_csv('../datasets/processed data/PLAGH-data-update202012.csv')
data_HJ23 = pd.read_csv('../datasets/processed data/HJ23-data-update202012.csv')

## Reliable hospital & unit list of eICU

In [3]:
reliable_l=pd.read_csv('../datasets/ReliableHospitalICUYearFilter.csv')

In [4]:
reliable_l['reliable']=1
reliable_l.drop(['HospitalID','UnitAdmitYear'],axis=1,inplace=True)
reliable_l

     ICUID  reliable
0     1087         1
1      822         1
2      369         1
3      451         1
4      608         1
..     ...       ...
250    362         1
251   1041         1
252    376         1
253    601         1
254    996         1

[255 rows x 2 columns]

In [5]:
reliable_l.drop_duplicates(inplace=True)
reliable_l

     ICUID  reliable
0     1087         1
1      822         1
2      369         1
3      451         1
4      608         1
..     ...       ...
203    487         1
221    338         1
223    364         1
251   1041         1
254    996         1

[98 rows x 2 columns]

In [6]:
data_eicu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132994 entries, 0 to 132993
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   uniquepid                  132994 non-null  object
 1   patienthealthsystemstayid  132994 non-null  int64
 2   patientunitstayid          132994 non-null  int64
 3   gender                     132925 non-null  float64
 4   age                        132994 non-null  float64
 5   unittype                   132994 non-null  object
 6   wardid                     132994 non-null  int64
 7   unitadmitsource            132431 non-null  object
 8   hospitaladmitsource        104866 non-null  object
 9   unitvisitnumber            132994 non-null  int64
 10  icu_los_hours              132994 non-null  int64
 11  hospital_los_hours         132994 non-null  int64
 12  icu_expire_flag            132980 non-null  float64
 13  hospital_expire_flag       131936 non-null  float64
 14  rrt_flag                   132994 non-null  int64
 15  cardiac_surgery_flag       132994 non-null  int64
 16  vent_duration_hours        49159 non-null   float64
 17  admission_type             132994 non-null  object
 18  bicarbonate_min            121307 non-null  float64
 19  creatinine_max             128790 non-null  float64
 20  glucose_max                128079 non-null  float64
 21  hemoglobin_min             128137 non-null  float64
 22  lactate_max                52412 non-null   float64
 23  sodium_max                 128746 non-null  float64
 24  sodium_min                 128746 non-null  float64
 25  crrt_duration_hours        0 non-null       float64
 26  vent_flag                  132994 non-null  float64
 27  age_group                  132994 non-null  object
 28  outcome_group              132994 non-null  float64
 29  crystalloid_v              15592 non-null   float64
 30  colloid                    132994 non-null  float64
 31  blood                      132994 non-null  float64
 32  emergency                  132994 non-null  float64
 33  crystalloid                132994 non-null  float64
dtypes: float64(20), int64(8), object(6)
memory usage: 34.5+ MB

In [7]:
data_eicu.columns.values

array(['uniquepid', 'patienthealthsystemstayid', 'patientunitstayid',
       'gender', 'age', 'unittype', 'wardid', 'unitadmitsource',
       'hospitaladmitsource', 'unitvisitnumber', 'icu_los_hours',
       'hospital_los_hours', 'icu_expire_flag', 'hospital_expire_flag',
       'rrt_flag', 'cardiac_surgery_flag', 'vent_duration_hours',
       'admission_type', 'bicarbonate_min', 'creatinine_max',
       'glucose_max', 'hemoglobin_min', 'lactate_max', 'sodium_max',
       'sodium_min', 'crrt_duration_hours', 'vent_flag', 'age_group',
       'outcome_group', 'crystalloid_v', 'colloid', 'blood', 'emergency',
       'crystalloid'], dtype=object)

In [8]:
data_eicu=pd.merge(data_eicu,reliable_l,left_on='wardid',right_on='ICUID',how='left')
data_eicu

,uniquepid,patienthealthsystemstayid,patientunitstayid,gender,age,unittype,wardid,unitadmitsource,hospitaladmitsource,unitvisitnumber,...,vent_flag,age_group,outcome_group,crystalloid_v,colloid,blood,emergency,crystalloid,ICUID,reliable
0,002-10009,193705,224606,0.0,76.0,Med-Surg ICU,87,Operating Room,Operating Room,1,...,1.0,"(69, 79]",3.0,4949.0,0.0,1.0,0.0,1.0,NaN,NaN
1,002-10018,178200,204602,0.0,29.0,Med-Surg ICU,90,Floor,Floor,1,...,0.0,"(17, 39]",1.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN
2,002-10034,141169,157016,0.0,23.0,Med-Surg ICU,95,Floor,Floor,1,...,0.0,"(17, 39]",3.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN
3,002-10050,183274,211144,0.0,67.0,Med-Surg ICU,87,Operating Room,Operating Room,1,...,1.0,"(59, 69]",4.0,284.0,1.0,1.0,0.0,1.0,NaN,NaN
4,002-10052,137239,151900,0.0,66.0,MICU,97,Emergency Department,Emergency Department,1,...,1.0,"(59, 69]",3.0,NaN,0.0,0.0,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132989,035-9957,2741786,3351785,1.0,74.0,CCU,1109,Emergency Department,Emergency Department,1,...,0.0,"(69, 79]",2.0,NaN,0.0,0.0,1.0,0.0,NaN,NaN
132990,035-9959,2731423,3340321,1.0,44.0,CCU,1109,Direct Admit,Direct Admit,1,...,0.0,"(39, 49]",3.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN
132991,035-996,2736458,3345874,1.0,55.0,CCU,1109,Emergency Department,Emergency Department,1,...,0.0,"(49, 59]",3.0,NaN,0.0,0.0,1.0,0.0,NaN,NaN
132992,035-9966,2742533,3352628,1.0,60.0,MICU,1106,Operating Room,Recovery Room,1,...,1.0,"(59, 69]",2.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN
132993,035-9975,2731781,3340712,1.0,69.0,CTICU,1107,Operating Room,Emergency Department,1,...,1.0,"(59, 69]",4.0,NaN,0.0,1.0,0.0,0.0,NaN,NaN

In [9]:
data_mimic.columns.values

array(['subject_id', 'hadm_id', 'icustay_id', 'gender', 'age',
       'ethnicity', 'icu_los_hours', 'icu_expire_flag', 'admission_type',
       'unittype', 'albumin_min', 'albumin_max', 'bilirubin_min',
       'bilirubin_max', 'bicarbonate_min', 'bicarbonate_max',
       'creatinine_min', 'creatinine_max', 'glucose_min', 'glucose_max',
       'hemoglobin_min', 'hemoglobin_max', 'lactate_min', 'lactate_max',
       'platelet_min', 'platelet_max', 'potassium_min', 'potassium_max',
       'sodium_min', 'sodium_max', 'magnesium_min', 'magnesium_max',
       'phosphate_min', 'phosphate_max', 'bun_min', 'bun_max', 'wbc_min',
       'wbc_max', 'calcium_min', 'calcium_max', 'ionized_calcium_min',
       'ionized_calcium_max', 'rrt_flag', 'crrt_duration_hours',
       'vent_flag', 'vent_duration_hours', 'age_group', 'outcome_group',
       'cardiac_surgery_flag', 'crystalloid_v', 'colloid', 'blood',
       'emergency', 'crystalloid'], dtype=object)

In [10]:
#column names we want to list in the TableOne
col_l=['gender', 'age','icu_los_hours', 'icu_expire_flag','unittype', 'vent_duration_hours', 'crrt_duration_hours',
      'admission_type', 'vent_flag', 'rrt_flag','age_group', 'outcome_group', 'cardiac_surgery_flag',
      'crystalloid_v', 'colloid', 'emergency', 'crystalloid','blood',
      'sodium_max','creatinine_max', 'lactate_max','bicarbonate_min', 'hemoglobin_min']

In [11]:
df_tableone_mimic=data_mimic.loc[:,col_l]
df_tableone_mimic['source']='MIMIC'

In [12]:
df_tableone_eicu=data_eicu.loc[:,col_l]
df_tableone_eicu['source']='eICU'

In [13]:
df_tableone_plagh=data_plagh.loc[:,col_l]
df_tableone_plagh['source']='PLAGH'

In [14]:
df_tableone_aumc=data_aumc.loc[:,['gender','icu_los_hours', 'icu_expire_flag','unittype',
      'admission_type', 'vent_flag', 'rrt_flag','age_group', 'outcome_group', 'cardiac_surgery_flag',
      'crystalloid_v', 'colloid', 'emergency', 'crystalloid','blood',
      'sodium_max','creatinine_max', 'lactate_max','bicarbonate_min', 'hemoglobin_min']]
df_tableone_aumc['source']='AUMC'

In [15]:
df_tableone_HJ23=data_HJ23.loc[:,col_l]
df_tableone_HJ23['source']='HJ23'

In [16]:
df_tableone_eicu

,gender,age,icu_los_hours,icu_expire_flag,unittype,vent_duration_hours,crrt_duration_hours,admission_type,vent_flag,rrt_flag,...,colloid,emergency,crystalloid,blood,sodium_max,creatinine_max,lactate_max,bicarbonate_min,hemoglobin_min,source
0,0.0,76.0,69,0.0,Med-Surg ICU,23.47,NaN,EMERGENCY,1.0,0,...,0.0,0.0,1.0,1.0,143.0,1.10,1.9,18.0,8.6,eICU
1,0.0,29.0,19,0.0,Med-Surg ICU,NaN,NaN,EMERGENCY,0.0,0,...,0.0,0.0,0.0,0.0,144.0,5.25,2.9,17.0,9.3,eICU
2,0.0,23.0,69,0.0,Med-Surg ICU,NaN,NaN,EMERGENCY,0.0,0,...,0.0,0.0,0.0,0.0,141.0,0.65,NaN,24.0,7.8,eICU
3,0.0,67.0,92,0.0,Med-Surg ICU,49.45,NaN,ELECTIVE,1.0,0,...,1.0,0.0,1.0,1.0,146.0,0.80,NaN,30.0,13.0,eICU
4,0.0,66.0,57,0.0,MICU,15.67,NaN,EMERGENCY,1.0,0,...,0.0,1.0,0.0,0.0,140.0,1.24,0.9,20.0,7.7,eICU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132989,1.0,74.0,36,0.0,CCU,NaN,NaN,EMERGENCY,0.0,0,...,0.0,1.0,0.0,0.0,142.0,0.80,NaN,27.0,14.1,eICU
132990,1.0,44.0,64,0.0,CCU,NaN,NaN,EMERGENCY,0.0,0,...,0.0,0.0,0.0,0.0,137.0,0.99,NaN,24.0,13.6,eICU
132991,1.0,55.0,46,0.0,CCU,NaN,NaN,EMERGENCY,0.0,0,...,0.0,1.0,0.0,0.0,139.0,2.30,2.7,24.0,8.7,eICU
132992,1.0,60.0,31,0.0,MICU,25.93,NaN,EMERGENCY,1.0,0,...,0.0,0.0,0.0,0.0,133.0,1.00,NaN,27.0,NaN,eICU
132993,1.0,69.0,135,0.0,CTICU,86.57,NaN,EMERGENCY,1.0,0,...,0.0,0.0,0.0,1.0,138.0,2.97,NaN,21.0,10.1,eICU

In [17]:
df_tableone=pd.concat([df_tableone_mimic,df_tableone_eicu,df_tableone_plagh,df_tableone_aumc,df_tableone_HJ23],ignore_index=True)
df_tableone['age'].replace(1,'1',inplace=True)
df_tableone['age'].replace(0,'0',inplace=True)
df_tableone

,gender,age,icu_los_hours,icu_expire_flag,unittype,vent_duration_hours,crrt_duration_hours,admission_type,vent_flag,rrt_flag,...,colloid,emergency,crystalloid,blood,sodium_max,creatinine_max,lactate_max,bicarbonate_min,hemoglobin_min,source
0,1,76.5,145.6,0.0,MICU,83.733333,NaN,EMERGENCY,1.0,0.0,...,0.0,1.0,1.0,1.0,153.0,2.50,8.80,11.0,7.8,MIMIC
1,0,47.8,40.3,0.0,MICU,NaN,NaN,EMERGENCY,0.0,0.0,...,0.0,1.0,1.0,0.0,141.0,0.50,NaN,21.0,10.6,MIMIC
2,0,65.9,88.1,0.0,SICU,NaN,NaN,ELECTIVE,0.0,0.0,...,0.0,0.0,1.0,1.0,134.0,10.00,NaN,18.0,9.2,MIMIC
3,1,41.8,127.8,1.0,MICU,118.333333,NaN,EMERGENCY,1.0,0.0,...,0.0,1.0,0.0,0.0,138.0,1.40,2.70,26.0,12.9,MIMIC
4,0,50.1,38.0,0.0,SICU,NaN,NaN,EMERGENCY,0.0,0.0,...,0.0,1.0,0.0,0.0,142.0,0.70,NaN,25.0,12.5,MIMIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259347,1,27.0,17.0,0.0,MICU,NaN,NaN,EMERGENCY,0.0,0.0,...,0.0,1.0,0.0,0.0,138.3,0.68,2.72,26.5,15.5,HJ23
259348,0,84.0,153.8,0.0,MICU,NaN,NaN,EMERGENCY,0.0,1.0,...,0.0,0.0,1.0,0.0,143.0,9.70,1.50,22.8,9.1,HJ23
259349,1,43.0,98.3,0.0,SICU,NaN,NaN,EMERGENCY,0.0,0.0,...,0.0,0.0,1.0,1.0,139.0,0.78,NaN,NaN,7.0,HJ23
259350,1,53.0,21.5,0.0,SICU,NaN,NaN,EMERGENCY,0.0,0.0,...,0.0,0.0,0.0,0.0,142.0,0.45,1.49,28.9,8.4,HJ23
259351,1,38.0,45.5,0.0,MICU,NaN,NaN,EMERGENCY,0.0,0.0,...,0.0,1.0,0.0,0.0,136.3,0.53,1.48,24.5,7.7,HJ23

In [18]:
columns = ['icu_expire_flag',
           'gender', 'age','age_group','icu_los_hours', 'admission_type','emergency',
           'unittype','vent_flag', 'rrt_flag',  'cardiac_surgery_flag',
           'vent_duration_hours', 'crrt_duration_hours',
           'crystalloid_v', 'colloid',  'crystalloid','blood',
           'outcome_group',
           'sodium_max','creatinine_max', 'lactate_max','bicarbonate_min', 'hemoglobin_min']

categorical = ['icu_expire_flag',
              'gender','age_group','admission_type','emergency',
              'unittype','vent_flag', 'rrt_flag',  'cardiac_surgery_flag',
              'colloid',  'crystalloid','blood',
              'outcome_group']

groupby='source'

nonnormal = ['age','icu_los_hours', 'hospital_los_hours',
            'vent_duration_hours', 'crrt_duration_hours',
            'crystalloid_v',
            'sodium_max','creatinine_max', 'lactate_max','bicarbonate_min', 'hemoglobin_min']

In [19]:
mytable_whole = TableOne(df_tableone, columns=columns, categorical=categorical,
                   groupby=groupby, nonnormal=nonnormal,decimals=2)

In [20]:
print(mytable_whole)

                                                 Grouped by source
                                                           Missing                   Overall                       AUMC                      HJ23                     MIMIC                     PLAGH                      eICU
n                                                                                     259352                      20127                      4238                     38478                     63515                    132994
icu_expire_flag, n (%)              0.0                         14            242482 (93.50)              18198 (90.42)              3619 (85.39)             35531 (92.34)             59772 (94.11)            125362 (94.27)
                                    1.0                                         16856 (6.50)                1929 (9.58)               619 (14.61)               2947 (7.66)               3743 (5.89)               7618 (5.73)
gender, n (%)                       0                          540             43560 (16.83)                                         1507 (35.56)             16693 (43.38)             25360 (39.93)
                                    0.0                                        67791 (26.19)               6849 (34.84)                                                                                           60942 (45.85)
                                    1                                          62670 (24.21)                                         2730 (64.42)             21785 (56.62)             38155 (60.07)
                                    1.0                                        84790 (32.76)              12807 (65.16)                                                                                           71983 (54.15)
                                    U                                               1 (0.00)                                             1 (0.02)
age, median [Q1,Q3]                                          20127       62.97 [50.34,74.10]              nan [nan,nan]       63.00 [50.00,73.00]       65.70 [52.40,77.90]       56.89 [45.89,66.77]       65.00 [53.00,76.00]
age_group, n (%)                    (17, 39]                     0             30445 (11.74)               2203 (10.95)               534 (12.60)               3776 (9.81)              9457 (14.89)             14475 (10.88)
                                    (39, 49]                                   28936 (11.16)                1903 (9.45)               494 (11.66)              3932 (10.22)             10384 (16.35)              12223 (9.19)
                                    (49, 59]                                   49429 (19.06)               3408 (16.93)               729 (17.20)              6419 (16.68)             15271 (24.04)             23602 (17.75)
                                    (59, 69]                                   58793 (22.67)               5274 (26.20)               986 (23.27)              7767 (20.19)             15436 (24.30)             29330 (22.05)
                                    (69, 79]                                   51777 (19.96)               5296 (26.31)              1043 (24.61)              7923 (20.59)              9491 (14.94)             28024 (21.07)
                                    (79, 300]                                  39972 (15.41)               2043 (10.15)               452 (10.67)              8661 (22.51)               3476 (5.47)             25340 (19.05)
icu_los_hours, median [Q1,Q3]                                    2      47.28 [23.59,101.80]        25.00 [20.00,73.00]      93.70 [48.20,191.52]       50.30 [28.50,98.20]      95.01 [45.67,173.16]       39.00 [21.00,71.00]
admission_type, n (%)               ELECTIVE                     0             74689 (28.80)              14429 (71.69)                179 (4.22)              6078 (15.80)             29398 (46.29)             24605 (18.50)
                                    EMERGENCY                                 184663 (71.20)               5698 (28.31)              4059 (95.78)             32400 (84.20)             34117 (53.71)            108389 (81.50)
emergency, n (%)                    0.0                       3853            132745 (51.96)              17612 (87.50)              2018 (47.62)             19326 (50.23)             29872 (50.07)             63917 (48.06)
                                    1.0                                       122754 (48.04)               2515 (12.50)              2220 (52.38)             19152 (49.77)             29790 (49.93)             69077 (51.94)
unittype, n (%)                     CCU                          0             35629 (13.74)                                                                   5694 (14.80)             20657 (32.52)               9278 (6.98)
                                    CCU-CTICU                                   11170 (4.31)                                                                                                                       11170 (8.40)
                                    CSICU                                       12117 (4.67)                                                                                             7265 (11.44)               4852 (3.65)
                                    CSRU                                         7600 (2.93)                                                                   7600 (19.75)
                                    CTICU                                        4500 (1.74)                                                                                                                        4500 (3.38)
                                    EICU                                         4142 (1.60)                                                                                              4142 (6.52)
                                    KICU                                         2504 (0.97)                                                                                              2504 (3.94)
                                    MICU                                       35463 (13.67)               7988 (39.69)              3057 (72.13)             13600 (35.34)                                        10818 (8.13)
                                    Med-Surg ICU                               73585 (28.37)                                                                                                                      73585 (55.33)
                                    NICU                                        11833 (4.56)                                                                                              1440 (2.27)              10393 (7.81)
                                    NSICU                                       17129 (6.60)                                                                                            17129 (26.97)
                                    RICU                                         1987 (0.77)                                                                                              1987 (3.13)
                                    SICU                                       33861 (13.06)              10644 (52.88)              1181 (27.87)              6356 (16.52)              7282 (11.47)               8398 (6.31)
                                    SICU&MICU                                    1495 (0.58)                1495 (7.43)
                                    TICU                                         1109 (0.43)                                                                                              1109 (1.75)
                                    TSICU                                        5228 (2.02)                                                                   5228 (13.59)
vent_flag, n (%)                    0.0                      63515            111623 (57.00)               6072 (30.17)              2394 (56.49)             19322 (50.22)                                       83835 (63.04)
                                    1.0                                        84214 (43.00)              14055 (69.83)              1844 (43.51)             19156 (49.78)                                       49159 (36.96)
rrt_flag, n (%)                     0.0                      63515            188121 (96.06)              19209 (95.44)              3895 (91.91)             36688 (95.35)                                      128329 (96.49)
                                    1.0                                          7716 (3.94)                 918 (4.56)                343 (8.09)               1790 (4.65)                                         4665 (3.51)
cardiac_surgery_flag, n (%)         0.0                          0            225318 (86.88)              13091 (65.04)             4238 (100.00)             30878 (80.25)             56250 (88.56)            120861 (90.88)
                                    1.0                                        34034 (13.12)               7036 (34.96)                                        7600 (19.75)              7265 (11.44)              12133 (9.12)
vent_duration_hours, median [Q1,Q3]                         189193        26.00 [9.98,79.36]              nan [nan,nan]      94.65 [28.40,256.82]        19.00 [6.53,82.25]             nan [nan,nan]       27.82 [11.28,74.35]
crrt_duration_hours, median [Q1,Q3]                         258701      77.40 [31.12,165.00]              nan [nan,nan]             nan [nan,nan]      77.40 [31.12,165.00]             nan [nan,nan]             nan [nan,nan]
crystalloid_v, median [Q1,Q3]                               143404  1500.00 [800.00,2500.00]  1500.00 [1000.00,2469.35]  1000.00 [500.00,1500.00]  2000.00 [900.00,3650.00]  1500.00 [750.00,2500.00]  1011.00 [598.00,1947.00]
colloid, n (%)                      0.0                          0            225946 (87.12)              11485 (57.06)              4021 (94.88)             35891 (93.28)             43988 (69.26)            130561 (98.17)
                                    1.0                                        33406 (12.88)               8642 (42.94)                217 (5.12)               2587 (6.72)             19527 (30.74)               2433 (1.83)
crystalloid, n (%)                  0.0                          0            143404 (55.29)                1048 (5.21)              2344 (55.31)             11260 (29.26)             11350 (17.87)            117402 (88.28)
                                    1.0                                       115948 (44.71)              19079 (94.79)              1894 (44.69)             27218 (70.74)             52165 (82.13)             15592 (11.72)
blood, n (%)                        0.0                          0            218585 (84.28)              14692 (73.00)              3231 (76.24)             26117 (67.88)             54931 (86.49)            119614 (89.94)
                                    1.0                                        40767 (15.72)               5435 (27.00)              1007 (23.76)             12361 (32.12)              8584 (13.51)             13380 (10.06)
outcome_group, n (%)                0.0                          0                  2 (0.00)                                                                       2 (0.01)
                                    1.0                                        62026 (23.92)               5024 (24.96)               907 (21.40)              8938 (23.23)             14943 (23.53)             32214 (24.22)
                                    2.0                                        60365 (23.28)               4436 (22.04)               905 (21.35)              8849 (23.00)             14945 (23.53)             31230 (23.48)
                                    3.0                                        59745 (23.04)               4203 (20.88)               902 (21.28)              8859 (23.02)             14941 (23.52)             30840 (23.19)
                                    4.0                                        60358 (23.27)               4535 (22.53)               905 (21.35)              8883 (23.09)             14943 (23.53)             31092 (23.38)
                                    5.0                                         16856 (6.50)                1929 (9.58)               619 (14.61)               2947 (7.66)               3743 (5.89)               7618 (5.73)
sodium_max, median [Q1,Q3]                                    9946    140.00 [138.00,143.00]     141.00 [139.00,144.00]    140.30 [138.00,143.00]    140.00 [137.00,142.00]    141.10 [138.60,143.50]    140.00 [137.00,142.00]
creatinine_max, median [Q1,Q3]                               10609          0.97 [0.75,1.39]           0.98 [0.78,1.28]          0.90 [0.67,1.46]          0.90 [0.70,1.30]          0.81 [0.66,0.99]          1.09 [0.81,1.61]
lactate_max, median [Q1,Q3]                                 176249          2.10 [1.30,3.50]           2.10 [1.30,3.40]          1.98 [1.45,2.96]          2.10 [1.40,3.30]          4.67 [1.83,8.73]          2.10 [1.30,3.60]
bicarbonate_min, median [Q1,Q3]                              76863       23.00 [20.00,25.00]        21.20 [19.00,22.90]       22.50 [19.80,25.20]       23.00 [21.00,26.00]       22.50 [19.60,24.90]       23.00 [20.00,26.00]
hemoglobin_min, median [Q1,Q3]                               12053        11.20 [9.35,12.90]         10.00 [8.71,11.61]        10.80 [9.00,12.60]        10.30 [8.90,11.90]       12.50 [10.80,13.90]        11.10 [9.20,12.80]

In [21]:
mytable_whole.to_csv('../report/table1.csv')

In [22]:
mytable_best = TableOne(df_tableone.loc[df_tableone['outcome_group']==1,:], columns=columns, categorical=categorical,
                   groupby=groupby, nonnormal=nonnormal,decimals=2)
mytable_best.to_csv('../report/table1_best.csv')

In [23]:
mytable_worst = TableOne(df_tableone.loc[df_tableone['outcome_group']==5,:], columns=columns, categorical=categorical,
                   groupby=groupby, nonnormal=nonnormal,decimals=2)
mytable_worst.to_csv('../report/table1_worst.csv')

In [24]:
mytable_worst = TableOne(df_tableone.loc[df_tableone['outcome_group']!=5,:], columns=columns, categorical=categorical,
                   groupby=groupby, nonnormal=nonnormal,decimals=2)
mytable_worst.to_csv('../report/table1_survivor.csv')

## reliable hospital

In [25]:
data_eicu['reliable'].fillna(0,inplace=True)

In [26]:
mytable_eicu=TableOne(data_eicu,columns=columns, categorical=categorical,groupby='reliable', nonnormal=nonnormal,decimals=2)
mytable_eicu.to_csv('../report/table1_eicu.csv')